  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <app-menudenavegacion></app-menudenavegacion>
 <!--     
      <div class="container">
      <div class="container_img">
          <img src="https://i.pinimg.com/originals/47/33/42/473342101ab0d9f8cccc85971c85c5dd.gif" class="img_user">
          <img src="https://fondosmil.com/fondo/17024.jpg"class="fondo_user">
          
      </div>  
      
      </div>
      -->
      <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="https://i.pinimg.com/originals/47/33/42/473342101ab0d9f8cccc85971c85c5dd.gif" alt="img-avatar">
                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>

            </div>
        </div>
        <br>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo">Perfil Usuario</h3>
            </div>
            
           
        </div>
    </section>
  </body>

