<nav style="background:black ;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="https://i.pinimg.com/564x/e9/ea/6e/e9ea6e6220e5929bd865c1e51b9f098a.jpg" alt="" class="GuateHablaImg">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"  href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="#">Iniciar sección</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="#">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="#">Contactanos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>