.navbar{
    background-color: black;
}

.GuateHablaImg{
    width: 12%;
    margin-left: 5%;
    margin-right: 20%;
}

.nav-link {
    color: white;
    font-size: large;
}

.nav-link:hover {
    color: #ec7c26;
}