<app-menudenavegacion></app-menudenavegacion>
<body>
    <img src={{solounanoticia.img}} style="width: 100%">
    <div style="border: white 5px solid; border-radius: 5px; background-color: black; width: 80%; margin-left: 10%; margin-top: -15%; position: absolute;">
        <br>
        <div style="display: flex;">
            <h5 style="color:white; width: 55%; margin-left: 10%; margin-right: 10%;">{{solounanoticia.titulo}}</h5>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">Eliminar</button>
                <button type="button" class="btn btn-warning">Editar</button>
            </div>
        </div>
        <hr style="color:white; margin-left: 10%; margin-right: 10%;">
        <p style="color:white; margin-left: 10%; margin-right: 10%;">{{solounanoticia.descripcion}}</p>
        <br>
        <hr style="color:white; margin-left: 10%; margin-right: 10%;">
        <div style="display: flex;">
            <h5 style="color:white; width: 55%; margin-left: 10%; margin-right: 10%;">Comentarios</h5>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success">Agregar Comentario</button>
            </div>
        </div>
        <hr style="color:white; margin-left: 10%; margin-right: 10%;">
        <br>
    </div>
    <br>
</body>
