<!DOCTYPE html>
  <body>
    <app-menudenavegacion></app-menudenavegacion>
    <div class="login">
        <img src="https://i.pinimg.com/564x/db/2a/cc/db2acc1c5b34e18ff5af2b84666ddf28.jpg" alt="" class="GuateHablaLogo">
      <h1>Bienvenido</h1>
      <form action="Inicio.html">
        <!-- CORREO ELCTRONICO -->
        <label for="Usuario">Correo Electronico<span class="text-danger">*</span></label>
        <input type="text" required="" placeholder="Correo Electronico" name="email" #email="ngModel" [(ngModel)]="usuarioModel.email">
        <!-- CONTRASEÑA -->
        <label for="Contraseña">Contraseña<span class="text-danger">*</span></label>
        <input type="password" required="" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
        <input type="submit" value="INGRESAR" (click) ="login()">
       <b href="#">  ¿No Tienes Un Usuario? <a calss="link" href="register" routerLink="/registrar" routerLinkActive="active">  Registrate</a> </b>
      </form>
    </div> 
  
  </body>

  <app-piedepagina></app-piedepagina>
