footer{
    max-width: 100%;
    padding: 0 auto;
    //background:url(https://i.gifer.com/T8kd.gif)no-repeat;
    background:url(https://pa1.narvii.com/6641/24b77c26d28b16ad0e54c249c5e96afff44a6344_hq.gif)no-repeat;
    background-size: cover;
    color:white;
    letter-spacing:2px;
    text-align: center;
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
   font-size:14px;
}