<body>
  <app-menudenavegacion></app-menudenavegacion>
  <div class="contenedor">
    <h2 class="titulo-inicio">CONTACTANOS</h2>
    <h3 class="subtitulo-inicio">Si tienes alguna sugerencia para mejorar nuestra pagina, hazlo saber, ¡NO TE QUEDES CALLADO!</h3>
</div>
  <form class='contacto'>
    <label for="Usuario">Nombre</label>
      <input type='text' placeholder='Ingresa tu nombre'>
      <label for="Correo">Correo Electronico</label>
      <input type='text' placeholder='Ingresa tu correo electronico'>
      <label for="Mensaje">Mensaje<br><textarea rows='6' style='width:100%; background: transparent;border: none;border-bottom: 1px solid #fff;'></textarea></label>
      <a href="#" class="btn-neon"  routerLink="/principal" routerLinkActive="active">
        <span id="span1"></span>
        <span id="span2"></span>
        <span id="span3"></span>
        <span id="span4"></span>
        ENVIAR
    </a>
  </form> 
</body>
