<nav style="background:black ;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="https://i.pinimg.com/564x/e9/ea/6e/e9ea6e6220e5929bd865c1e51b9f098a.jpg" alt="" class="GuateHablaImg">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  *ngIf="verificaciondeltoken2" routerLink="/principal" routerLinkActive="active">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  *ngIf="verificaciondeltoken2" routerLink="/inicio" routerLinkActive="active">Denunciar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  *ngIf="verificaciondeltoken2 && verificaciondelrol2">Seguimiento de Denencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  *ngIf="verificaciondeltoken2 && verificaciondelrol">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="verificaciondeltoken" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" *ngIf="verificaciondeltoken"  routerLink="/registrar" routerLinkActive="active">Registrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  href="#">Contactanos</a>
          </li>
        </ul> 

        <header>
          <nav class="navegacion">
            <ul class="menu">
              <li><div class="" style="display: flex;"  routerLink="/principal" routerLinkActive="active">
                <img src={{imagendemiperfil}} style="width: 50px; margin-right: 10%;">
                <a href="#" style="color:white; text-decoration: none;">{{nombre}}</a></div>
                <ul class="submenu" style="margin-top: 5%; background-color: black;">
                  <li><a href="#">Mi perfil</a></li>
                  <li><a (click) ="cerrarsecion()">Cerrar Sesión</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </header>

      </div>
    </div>
  </nav>