/*barra de navegacion principal*/
.navbar{
    background: rgba(102, 0, 0, 0);
    height:70px;
	z-index: 8;
}

.GuateHablaImg{
    width: 120px;
    height:55px;
    margin-right: 5%;

}

.nav-link {
    display: inline;
    text-align: center;
	padding: 15px 20px;
	color: #ffffff;
	font-family: 'Open sans';
	text-decoration: none;
}

.nav-link:hover {
    color: #ec7c26;
}


.navegacion{
	width: 200px;
	margin: 30px auto;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

/* Submenu de perfil*/

.submenu{
	position: absolute;
	margin-top: 5%;
	width: 200px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.submenu li a:hover{
	color: #ec7c26;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
	/*Con el siguiente comando se sobre pone el submmeno al fondo*/
	z-index: 1;
}