
<body>
  <app-menudenavegacion></app-menudenavegacion>
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>¡Denuncia!</h1>
    </div>
  </section>
<section class="denuncia" id="denuncia">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br> 
      <form action="index.html" method="post" style="margin-top: 10%;">
        <h1> Denuncia </h1>
        
        <fieldset>  
        
          <legend><span class="number">1</span> Informacion</legend>
          
         <label for="descripcion">Describa su denuncia: <span class="text-danger">*</span></label>
          <textarea id="descripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="denunciasmodelo.descripcion" placeholder="Ingrese la descripción de la denuncia"  name="user_description"></textarea>
        
       
        
          <label for="name"> Imagen: <span class="text-danger">*</span></label>
          <input name="img" #img="ngModel" [(ngModel)]="denunciasmodelo.img" type="text" placeholder="Ingrese la Imagen" id="name" name="user_name">

          
          
         </fieldset>
         
         <legend><span class="number">2</span> Tipo de denuncia</legend>
        <button type="submit" (click)="CrearUnaDenunciaAnonima()">Anonimo</button> <br>
        <button type="submit" (click)="CrearUnaDenunciaPublica()">Publico</button>
        
       </form>
       <br>
        </div>
      </div>
      
</div>
</section>
</body>
