body {
    background: url(https://i.pinimg.com/originals/0b/b8/7a/0bb87a7e4573405c8a42e0e937471f77.jpg) no-repeat center center;
    background-size: cover;
    font-family: sans-serif;
}

.icono-mensajes{
    border-radius: 50%;
    border-color: white;
    position: fixed;
    width: 6%;
    top: 89%;
    left: 91%;
}

.contenedor-chat{
    width: 470px;
	height: 500px;
	overflow: auto;
	border-radius: 4px;
    color:white
}

.contenedor-chat::-webkit-scrollbar {
    background: white;
    border-radius: 10px;
}

.contenedor-chat::-webkit-scrollbar-thumb {
	background: #e1cc4f;
    border-radius: 10px;
}