/* You can add global styles to this file, and also import other style files */
footer{
    max-width: 100%;
    padding: 0 auto;
    background:url(https://i.gifer.com/T8kd.gif)no-repeat;
    background-size: cover;
    color:white;
    letter-spacing:2px;
    text-align: center;
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
   font-size:14px;
}