body{
    background: rgba(34, 34, 34, 0.76);
    background-size: cover;
    
}

.GuateHablaLogo{
    top: -2%;
    left:12%;
    width: 20%;
    height:40%;
    border-radius: 5px;
    position:relative;
    z-index: 4;
}
.GuateHablaLogo1{
    top: -2%;
    left:23%;
    width: 20%;
    height:40%;
    border-radius: 5px;
    position:relative;
    z-index: 4;

}
.GuateHablaLogo2{
    top: -2%;
    left:32%;
    width: 20%;
    height:40%;
    border-radius: 5px;
    position:relative;
    z-index: 4;

}

.btn-neon{
    top: 10%;
    left: 48%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.979);
    border-radius: 5%;
    display: inline-block;
    padding: auto;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #00206d;
    box-shadow: 0 0 10px #00206d, 0 0 40px #00206d, 0 0 80px #00206d;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#00206d);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#00206d);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#00206d);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#00206d);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.principal{
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/6f/Palacio_De_Gobierno_De_Guatemala_%28243091369%29.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    top: 108%;
}
.principal:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
section{
    height:100%;
    width: 100%;
    padding: auto;
    position: absolute;
    z-index:4;
}



.contenido{
    position: relative;
    width: 80%;
    height: 60%;
color: rgb(255, 255, 255);
transform: translate(15%, 1%);
background:transparent;
font-size:90%;
box-sizing: border-box;
z-index: 4;
}

.contenido h3{
    top: 1%;
    left: 1%;
    margin: auto;
    padding: auto;
    text-align: center !important;
    letter-spacing: 2px;
    display: inline-block;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 10px;
    box-sizing: border-box;
    z-index: 4;
  }

  .contenido h1{
    top: 1%;
    left: 1%;
    margin: auto;
    padding: auto;
    text-align: left;
    display: inline-block;
    position: relative;
    font-family: 'Open sans';
    box-sizing: border-box;
    z-index: 4;
  }


.contenido p{
    top: 9%;
    left: 1%;
    margin: auto;
    padding: auto;
    text-align: left;
    box-sizing: border-box;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
    z-index:4;
  }

  #hero {
    width: 100%;
    height: 100vh;
    background: url("https://ak.picdn.net/shutterstock/videos/18150820/thumb/1.jpg") top center;
    background-size: cover;
  }
  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }