<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
  </head>
  <body>
    <app-menudenavegacion></app-menudenavegacion>
<!--Logo Kinal-->
    <div class="login">
        <img src="https://i.pinimg.com/564x/db/2a/cc/db2acc1c5b34e18ff5af2b84666ddf28.jpg" alt="" class="GuateHablaLogo">
      <h1>Registrate</h1>
      <form action="Inicio.html">
<!-- NOMBRES -->
        <label for="Usuario">Nombre<span class="text-danger">*</span></label>
        <input type="text" required="" placeholder="Ingrese Nombre" name="name" #name="ngModel" [(ngModel)]="usuarioModel.name">  
        <label for="Usuario">Nombre usuario<span class="text-danger">*</span></label>
        <input type="text" required="" placeholder="Nombre de usuario" name="user" #user="ngModel" [(ngModel)]="usuarioModel.user">  
        <label for="Usuario">Dirección<span class="text-danger">*</span></label>
        <input type="text" required="" placeholder="Dirección" name="direccion" #direccion="ngModel" [(ngModel)]="usuarioModel.direccion">
        <label for="Usuario">Telefono<span class="text-danger">*</span></label>
        <input minlength="8" maxlength="8" type="text" required="" placeholder="0" name="telefono" #telefono="ngModel" [(ngModel)]="usuarioModel.telefono">
<!--CUI-->
        <label for="Usuario">CUI<span class="text-danger">*</span></label>
        <input minlength="13" maxlength="13" type="text" required="" pattern="[1-9]+" placeholder="Ingrese los 13 digitos de su DPI" name="dpi" #dpi="ngModel" [(ngModel)]="usuarioModel.dpi">            
<!---correo elctronico-->
        <label for="Usuario">Correo Electronico<span class="text-danger">*</span></label>
        <input type="text" required="" placeholder="Ingrese un correo electronico" name="email" #email="ngModel" [(ngModel)]="usuarioModel.email">
<!-- CONTRASEÑA -->
        <label for="Contraseña">Contraseña<span class="text-danger">*</span></label>
        <input type="password" required="" placeholder="Crea una contraseña segura" name="password" #password="ngModel" [(ngModel)]="usuarioModel.password">
<!--Boton-->        
<input   type="submit"  value="REGISTRATE" (click) = "registrar()">
       
       <b  href="#">¿Ya tienes Un Usuario? <a class="link" routerLink="/login" routerLinkActive="active">  Inicia Sesion</a> </b>
      </form>
    </div>

  </body>
</html>
  