.titulo-denuncia{
    text-align: center; 
    font-size: 150px; 
    margin-top: -9%;
    position: relative;
    background: -webkit-linear-gradient(black,white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      color: rgb(44, 83, 255);
}
* {
  box-sizing: border-box;
}

.card {
  padding: 0 6px;
  float: left;

}

