<app-menudenavegacion></app-menudenavegacion>
<img style="width: 100%;" src="https://pbs.twimg.com/media/EZX5RBlWoAEUBX1.jpg" alt="">
<h1 class="titulo-denuncia">Denuncias</h1>
<hr style="color:white; margin-left: 10%; margin-right: 10%; margin-top: -8%;">
<br>
<div style="margin-top: 5%;">
    <button (click)="vertodaslasdenuncias2()" style="margin-top: -10%; margin-left:10%; margin-right:10%; width: 30%;" type="button" class="btn btn-success">Todas las decuncias</button>
    <button (click)="verdenunciasactivas2()" style="margin-top: -10%; margin-left:10%; margin-right:10%; width: 30%;" type="button" class="btn btn-light">Denuncias activas</button>
</div>

<div *ngIf="vertodaslasdenuncias">
    <div class="container">
        <div class="row">
          <div class="col">
            <div *ngFor="let todaslasdenuncias of todaslasdenuncias" >
              <div  class="card" (click)="VerSoloUnaDenuncia(todaslasdenuncias._id)" style="width: 18rem;">
                <img *ngIf="todaslasdenuncias.img == null" src="https://st4.depositphotos.com/1028437/21297/v/600/depositphotos_212975764-stock-illustration-no-image-available-sign.jpg" class="card-img-top" alt="...">
                <img *ngIf="todaslasdenuncias.img != null"src="{{todaslasdenuncias.img}}" alt="" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{todaslasdenuncias.tipoDenuncia}}</h5>
                    <p class="card-text">{{todaslasdenuncias.descripcion}}</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<br *ngIf="vertodaslasdenuncias">


<div *ngIf="verdenunciasactivas">
    <div class="container">
        <div class="row">
          <div class="col">
            <div *ngFor="let denunciasactivas of denunciasactivas">
              <div (click)="VerSoloUnaDenuncia(denunciasactivas._id)" class="card" style="width: 18rem;">
                <img *ngIf="denunciasactivas.img == null" src="https://st4.depositphotos.com/1028437/21297/v/600/depositphotos_212975764-stock-illustration-no-image-available-sign.jpg" class="card-img-top" alt="...">
                <img *ngIf="denunciasactivas.img != null"src="{{denunciasactivas.img}}" alt="" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{denunciasactivas.tipoDenuncia}}</h5>
                  <p class="card-text">{{denunciasactivas.descripcion}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<br *ngIf="verdenunciasactivas">